html, body, #app {
    height: 100%;
}

.bg-vue {
    background: #44b684 !important;
}

.receipts-tab, .receipts-tab:link, .receipts-tab:visited, .receipts-tab:hover, .receipts-tab:active {
    color: #44b684;
}

.btn-main {
    background: #44b684 !important;
    color: #fff !important;
    border-radius: 0px !important;
}

::-moz-selection {
    background: #44b684 !important;
    color: #fff !important;
}

::selection {
    background: #44b684 !important;
    color: #fff !important;
}